<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">

   <context:annotation-config />
   <context:component-scan base-package="com.example.demo"/>
   <bean id="taskRepository" class="com.example.demo.repositories.TaskRepository"/>
   <bean id="taskService" class="com.example.demo.services.TaskService" />
</beans>